.App {
  text-align: center;
}

#barcodeInput {
  display: block;
  width: 500px;
  font-size: 40px;
  padding: 10px;
  margin: 50px auto;
}

#barcode-wrapper {
  padding: 40px;
}

#slider-wrapper {
  padding: 40px;
  width: 400px;
  margin: 0 auto;
}
